.popup {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
}

@media (max-width: 320px) {
  .popup {
    padding: 0 19px;
  }
}
