.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#FFFFFF;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}
