.elements__like {
  background-color: transparent;
  background-image: url('../../../images/elements/like.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  height: 19px;
  width: 22px;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: opacity .4s;
}

.elements__like:hover {
  opacity: 0.5;
}

